@font-face {
    font-family: 'Style Script';
    src: url('fonts/StyleScript-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Norwester';
    src: url('fonts/norwester.ttf') format('truetype');
}

