@keyframes autoBlurAnimation {
    0% {
        filter: blur(40px);
    }
    50%, 55%{
        filter: blur(0px);
    }
    100% {
        filter: blur(40px);
    }
}
@keyframes slideInUp {
    0%, 10%{
        opacity: 0;
        transform: translateY(-30px);
    }
    50%, 55%{
        opacity: 1;
        transform: translateY(0);
    }
    100%{
        opacity: 0;
        transform: translateY(30px);
    }
}
*{
    margin: 0;
    border: 0;
    font-family: "Inter", sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    background: #000;
    color: white;
}
.logo{
    height: 50px;
    width: auto;
    filter: brightness(0) invert(1);
}
.logowrap{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 30px;
    left: 75px;
    background-color: #151517;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    z-index: 100;
}
.hero{
    text-align: center;
    height: 100dvh;
    width: 100%;
}
.hero h1{
    padding-top: 400px;
    font-size: 4.5rem;
    font-weight: 250;
}
.hero h1 span{
    color: #60667B;
}
.hero p{
    margin-top: 20px;
    font-size: 1.2vw;
    font-weight: 150;
}
.about{
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
    font-weight: 100;
}
.about p{
    margin-top: 20vh;
    margin-bottom: 37vh;
    font-size: 3rem;
    color: #60667B;
}
.about p span{
    color: white;
}
.about h1{
    margin-top: 200px;
    margin-bottom: 100px;
    font-weight: 100;
    font-size: 7rem;
    animation: slideInUp 1s;
    animation-timeline: view();
}
.about h3{
    padding-top: 10px;
    text-wrap:  nowrap;
    font-size: 5.5rem;
    color: #9099ba;
}
.autoBlur img{
    height: 40px;
    filter: brightness(0) invert(1);
}
.autoBlur{
    animation: autoBlurAnimation linear both;
    animation-timeline: view();
}
.about a{
    font-size: 3rem;
}
.projtitle{
    margin-top: 200px;
    margin-bottom: 100px;
    text-align: center;
    font-weight: 100;
    font-size: 7rem;
    animation: slideInUp 2s;
    animation-timeline: view();
}
.projects{
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.aesthetisia, .warcards, .sushimenu, .XOXO, .AVA, .ELM{
    text-align: center;
    height: 400px;
    width: 400px;
    border-radius: 5%;
    background-color: #151517;
    transition: background-color 1s, transform 0.5s;
}
.aesthetisia:hover, .warcards:hover, .sushimenu:hover, .XOXO:hover, .AVA:hover, .ELM:hover{
    background-color: #2B2D36;
    transform: scale(1.2);
    transition: background-color 1s, transform 0.5s;
}
.aesthetisia img{
    height: 50px;
    width: auto;
    margin-top: 100px;
}
.aesthetisialinks{
    display: flex;
    gap: 25px;
    flex-direction: column;
    margin-top: 140px;
}
.warcards img{
    height: 150px;
    width: auto;
    margin-top: 50px;
}
.warcardslinks{
    margin-top: 100px;
}
.sushimenu img{
    height: 200px;
    width: auto;
    margin-top: 30px;
    scale: 1.1;
    filter: brightness(0) invert(1);
}
.sushimenulinks{
    margin-top: 70px;
}
.XOXO img{
    height: 200px;
    width: auto;
    margin-top: 30px;
    scale: 1.1;
}
.XOXO h5{
    background-color: rgba(137, 87, 229, 0.503);
    padding-top: 5px;
    padding-bottom: 5px;
}
.XOXOlinks{
    margin-top: 70px;
}
.AVA h1{
    font-size: 2rem;
    font-weight: 100;
    margin-top: 90px;
}
.AVAlinks{
    margin-top: 140px;
}
.ELM h1{
    font-size: 2rem;
    font-weight: 100;
    margin-top: 65px;
    padding-left: 20px;
    padding-right: 20px;
}
.ELM h5{
    background-color: rgba(137, 87, 229, 0.503);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 60px;
}
.ELMlinks{
    margin-top: 50px;
}
.moreproj{
    margin-top: 20vh;
    margin-bottom: 37vh;
    font-size: 3rem;
    font-weight: 100;
    color: #60667B;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
}
.moreproj a{
    color: white;
}
.moreproj img{
    height: 15px;
    filter: brightness(0) invert(1);
}